:root {
  --bg-black: #393939;
  --md-grey: #707070;
  --lt-grey: #F1F1F1;
  --yellow: #B29124;
  --green: #727812;
  --white: #FFFFFF;
  --orange: #C65614;
  --dp-grey: #404040;
  --hover-bg: #6f6f6f;
  --btn-bg: #3F3F3F;
}

@font-face {
    font-family: 'CooperHewitt-Heavy';
    src: url('../assignment-two-responsive-nav-assets/CooperHewitt-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Utility Classes */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-container {
    margin: auto;
    max-width: 60rem;
    padding: 3rem 1rem;
}

header .inner-container {
    padding: unset;
}

.hidden{
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.btn {
    background-color: var(--btn-bg);
    color: var(--lt-grey);
    width: 186px;
    height: 47px;
    border: 1px solid var(--lt-grey);
    border-radius: 50px;
}

.btn:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}


/* Typography */

body {
    background-color: var(--white);
    color: var(--bg-black);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}

.first-link {
    text-decoration: none;
}

a {
    color: var(--bg-black);
    font-size: 1.125rem;
}

.logo a {
    text-decoration: none;
    font-size: 2.25rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'CooperHewitt-Heavy', 'sans-serif'; 
}

h2 {
    font-size: 5.625rem;
    text-align: left;
    line-height: 5rem;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 2.625rem;
    width: 50%;
    line-height: 2.5rem;
    color: var(--yellow);
}

h4 {
    color: var(--lt-grey);
    font-size: 1.125rem;
}

p {
    text-align: left;
}

.grey {
    color: var(--md-grey);
    margin-left: 5rem;
}

.green {
    color: var(--green);
}

/* Header & Navigation */

header {
    background-color: var(--bg-black);
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

header a {
    color: var(--lt-grey)
}

.menu-icon {
    cursor: pointer;
}

.menu-icon svg {
    width: 2rem;
    height: 2rem;
    color: var(--lt-grey);
}

.main-menu svg {
    width: 1rem;
    height: 1rem;
    color: var(--lt-grey);
}

.first-link {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
}

.first-link img {
    width: 1rem;
    margin: 0 1rem;
}

.first-link:hover {
    color: var(--green);
}

.second-tier li:hover {
    background-color: var(--hover-bg);
    border-radius: 3px;
}

/* Main Sections */

.col {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.good-food {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 4rem 1rem;
}

.good-food .col:first-child {
    margin-bottom: 2rem;
}

.top {
    width: 80%;
    align-self: flex-end;
}

.bottom {
    width: 60%;
    margin-top: -6rem;
}

.local-travel {
    background-color: var(--lt-grey);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.local-travel .btn {
    align-self: flex-end;
}

.local-travel img {
    align-self: flex-end;
    width: 70%;
    margin: 3rem 0;
}

.stuff h2 {
    text-align: center;
}

.stuff span > svg {
    width: 3rem;
    height: 3rem;
    fill: var(--orange);
    position: relative;
    left: -7rem;
    top: 2rem;
    z-index: 1;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

.img-container {
    background-color: var(--lt-grey);
    margin: 1rem;
}

.img-container img {
    margin: 2rem auto;
    width: 90%;
    padding: 0  0 2rem 0;
}

.content {
    display: flex;
    margin: -6rem 0 0 0;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.content span a {
    text-transform: uppercase;
    font-size: 1rem;
}

.video-blog {
    background-color: var(--dp-grey);
    color: var(--lt-grey);
    margin: 1rem 1rem 2.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.video-blog .col {
    padding: 2rem 1rem 3rem 1rem;
}

.video-blog h2 {
    text-align: left;
}

.video-blog .col .btn {
    align-self: flex-end;
    background-color: var(--lt-grey);;
    color: var(--md-grey);
}

.video-blog .col .btn:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--lt-grey)
}

/* Footer Section */

.footer {
    background-color: var(--bg-black);
}

.footer-container {
    display: flex;
    padding: 2rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-section {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.footer-section ul {
    padding-left: 0;
}

.footer a {
    color: var(--lt-grey);
    text-decoration: none;
}

.socials ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.social-icon {
    max-width: 1.5rem;
    fill: var(--lt-grey);
    width: 100%;
}

.social-icon:hover {
    fill: #000;
}

/* Mobile View */

.first-link svg,
a span {
    display: none;
}

.main-menu > li {
    margin: 2rem 0;
}

nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: var(--bg-black);
    padding: 0 1rem;
}

.show-nav {
    max-height: unset;
    overflow: visible;
}

nav li {
    margin: 0.75rem 0;
    text-align: right;
}

nav li a {
    display: block;
    padding: 0 0.25rem;
}

/* Media Queries*/

/* Medium screen */
@media screen and (min-width: 53.125rem) {
    header {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .flex-container {
        width: 100%;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .wide-flex {
        display: flex;
        align-items: flex-start;
    }

    header div.inner-container {
        max-width: 100%;
    }

    header div.inner-container > .flex-container {
        flex: auto;
    }

    .menu-icon {
        display: none;
    }

    .first-link svg,
    a span {
        display: unset;
    }

    nav {
        justify-content: flex-end;
        position: static;
        overflow: visible;
        white-space: nowrap;
    }

    nav ul li {
        list-style-type: none;
        text-align: center;
    }

    .main-menu {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .main-menu li {
        position: relative;
    }

    .main-menu > li {
        margin: 1rem;
    }

    .second-tier {
        min-width: 100%;
        background-color: var(--bg-black);
        padding: 1rem;
        position: absolute;
        visibility: hidden;
    }

    .main-menu li:hover > .second-tier {
        visibility: visible;
    }
    
    .good-food {
        flex-direction: row;
        margin: 3rem 1rem;
    }

    .good-food .col {
        width: 50%;
    }

    .good-food .col:first-child {
        margin-right: 4rem;
    }

    .good-food .col h2 {
        text-align: left;
    }
    
    .top {
        width: 100%;
    }
    
    .bottom {
        width: 80%;
        margin-left: -6rem;
    }
    
    .local-travel {
        flex-direction: row;
        align-items: center;
    }

    .local-travel .col {
        margin: 0 0 0 3rem;
    }
    
    .local-travel .btn {
        align-self: center;
    }
    
    .local-travel img {
        width: 80%;
        align-self: center;
        margin: 2rem 0 -8rem 0;
    }
    
    .stuff {
        margin-top: 10rem;
    }

    .stuff h2 {
        margin-left: -40rem;
        margin-bottom: 1rem;
    }
    
    .grid-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-container .col {
        width: 50%;
    }
    
    .video-blog {
        margin: 1rem 1rem 2.5rem 1rem;
        flex-direction: row;
        width: 70%;
        align-items: center;
    }
    
    .video-blog .col {
        padding: 3rem;
    }
    
    .video-blog .col p {
        margin: 0 2rem 0 6rem;
    }
    
    .video-blog .col .btn {
        align-self: flex-start;
        margin-left: 6rem;
    }

    .video-blog img {
        margin: 5rem -15rem 5rem 0;
        padding-right: 1rem;
    }

    .footer-container {
        flex-wrap: nowrap;
        width: 70%;
    }
}

/* Large screen */
@media screen and (min-width: 84.375rem) {

    .good-food h2,
    .local-travel h2 {
        gap: 2rem;
    }

    .good-food {
        padding: 0 15rem;
        align-items: center;
    }

    .good-food h2,
    .local-travel .green,
    .stuff h2 {
        font-size: 7.813rem ;
    }

    .good-food .grey {
        font-size: 5.625rem;
        margin: 0 auto;
    }

    .good-food .col:first-child {
        padding: 0 4rem;
    }

    .top {
        width: 70%;
        margin-right: 4rem;
    }

    .bottom {
        margin-top: -3rem;
    }

    .local-travel {
        margin-top: 10rem;
        align-items: center;
    }

    .local-travel .grey {
        margin-left: 15rem;
    }

    .local-travel .col {
        margin-left: 9rem;
    }
    
    .local-travel .btn {
        align-self: flex-end;
    }
    
    .local-travel img {
        width: 100%;
        align-self: flex-end;
        margin: -8rem 0 -8rem 0;
    }

    .stuff {
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    .stuff span > svg {
        left: -9rem;
        top: 1rem;
    }

    .grid-container {
        flex-wrap: nowrap;
        padding: 0 2rem;
    }

    .grid-container .col {
        width: 50%;
    }

    .video-blog {
        margin-left: 3rem;
    }

    .video-blog span {
        font-size: 7.813rem;
        margin-bottom: 1rem;
    }

    .video-blog .col {
        padding-left: 20rem;
        padding-right: 3rem;
    }

    .video-blog img {
        margin-right: -20rem;
    }
    
    .footer-container {
        flex-wrap: nowrap;
        width: 70%;
        margin-left: 2rem;
    }
}